@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');

:root {
    --very-dark-grayish-blue: hsl(217, 19%, 35%);
    --desaturated-dark-blue: hsl(214, 17%, 51%);
    --grayish-blue: hsl(212, 23%, 69%);
    --light-grayish-blue: hsl(210, 46%, 95%);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: grid;
    place-content: center;
    min-height: 100vh;
    font-family: "Manrope", serif;
    font-size: clamp(0.2rem, 70%, 0.8rem);
    background-color: var(--light-grayish-blue);
}

#container {
    width: clamp(300px, 90%, 23rem);
    display: flex;
    flex-direction: column;
    background-color: #fff;
    border-radius: 0.6rem;
    margin: 60px auto;
}

aside img {
    width: 100%;
    height: 170px;
    object-fit: cover;
    border-radius: 0.6rem 0.6rem 0 0;
}

main {
    padding: 2rem 2rem 0 2rem;
}

.main-text h2 {
    line-height: 1.5rem;
    color: var(--very-dark-grayish-blue);
    font-weight: 700;
}

main .body-text {
    margin: 1rem 0 0 0;
}

main .body-text p {
    line-height: 1.5rem;
    color: var(--grayish-blue);
    font-weight: 500;
    display: flex;
    font-size: 0.87rem;
}

.profile {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin: 2rem 0 1rem 0;
}

.profile-pic {
    width: 2.5rem;
    height: 2.5rem;
    border-radius: 50%;
}

.bio {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.bio .data h4 {
    color: var(--very-dark-grayish-blue);
    font-weight: 700;
}

.bio .data span {
    color: var(--grayish-blue);
    font-weight: 500;
}

.link svg {
    fill: var(--grayish-blue);
    cursor: pointer;
}

.share {
    width: 1.875rem;
    height: 1.875rem;
    background-color: var(--light-grayish-blue);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    margin-left: 3.4rem;
}

.share_mobile {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: var(--very-dark-grayish-blue);
    margin-top: 1rem;
    padding: 1rem 2rem;
    border-radius: 0 0 0.6rem 0.6rem;
}

.share .icon{
    fill: var(--desaturated-dark-blue);
}

.socials {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.8rem;
}

.socials p {
    letter-spacing: 0.5rem;
    color: var(--grayish-blue);
}

.social-icons {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.8rem;
}

.hide {
    display: none;
}

@media (min-width: 500px) {
    body {
        font-size: clamp(0.6rem, 90%, 0.8rem);
    }

    #container {
        display: flex;
        flex-direction: row;
        width: clamp(500px, 90%, 41rem);
    }

    main {
        padding: 2rem;
    }

    main .body-text p {
        font-size: 0.8rem;
    }

    aside img {
        height: 100%;
        width: 240px;
        object-fit: cover;
        border-radius: 0.6rem 0 0 0.6rem;
    }

    .body-text p {
        line-height: 1.2rem;
    }

    .profile {
        margin: 1rem 0 0 0;
    }

    .share_desktop {
        position: absolute;
        width: auto;
        height: 50px;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 128px;
        margin-left: 490px;
    }

    .share_desktop .socials {
        background-color: var(--very-dark-grayish-blue);
        border-radius: 0.7rem;
        padding: 1.2rem 2rem;
    }

    .social_svg {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .share_desktop svg {
        width: 2.5rem;
        height: 2.5rem;
        fill: var(--very-dark-grayish-blue);
        position: absolute;
        margin-top: 1.1rem;
    }

    .hide {
        display: none;
    }
}
